$primary-colour: rgb(158, 213, 197);
$secondary-colour: rgb(188, 234, 213);
$tertiary-colour: rgb(222, 245, 229);
* {
    margin: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
}

body {
    width: 80vw;
    margin: auto;
    background-color: $tertiary-colour;
}

.header {
    text-align: center;
    background-color: $primary-colour;
}

.instructions {
    display: flex;
    flex-direction: column;
    background-color: $secondary-colour;
    &__para {
        &--underline {
            text-decoration: underline;
        }
    }
}

.translator {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $primary-colour;
    &__textarea {
        border-radius: 5px;
        background-color: $tertiary-colour;
        max-width: 400px;
        font-size: large;
    }
}

.error-msg {
    background-color: $secondary-colour;
}

.valid-inputs {
    background-color: $primary-colour;
    &__list {
        padding-left: 20px;
    }
}
